{% extends "base.html" %}

{% block content %}


<div class="container">

<div class="about">
	
	<h3>Who is Alvin Grant?</h3>
	<p>I’m a Software Engineer, based in New York, NY. Currently I work for CBS Corporation, developing web applications, plugins, and interfaces for their various digital properties, including Radio.com, CBSLOCAL.com and FanSportsLive.com.  I have a over 7 years of experience in design and development, and have worked with many high profile companies in the past, such as Panasonic, Clear Channel, and Macy’s.
	Outside of the normal 9-5, I am also an avid photographer, and I love to draw and paint.</p>

	<h3>Education</strong>:</h3>
	<p>Bachelors of Arts, Minor Computer Science<br />
	Wagner College 2008</p>

	<h3>Previous Experience:</h3>
	<p>American Society of Mechanical Engineers, Web & Audio Producer<br />
	Vitech Systems Group, Web Developer<br />
	Recyclebank, Front End Developer<br />
	Panansonic, Web Producer<br />
	CancerCare, Print/Web Design & Web Developer<br />


	<p><a href="#">Download CV/Resume</a></p>
	

	<h3>About This Site</h3>

	<p>This site was built on <i>Python</i>, in the <i>Flask</i> framework, utilizing HTML5, CSS3, PHP, Javascript, and backed by MongoDB. Written with Sublime Text 2.</p>
</div>

<div class="clear"></div>
</div>
{% endblock %}