{% extends "base.html" %}

{% block content %}


<div class="container">

<div class="about">
	<h3>Hello there!</h3>
	<p>My name is Alvin Grant and I'm a software engineer based in New York City.</p>
	<p>I currently work for the good folks at CBS Corporation, in their local digital department, where I get to work on fun projects such as <a href="http://radio.com" target="_blank">radio.com</a>, <a href="http://fansportslive.com" target="_blank">Fansportslive</a>, and <a href="http://betaplayer.radio.com/player/kroq" target="_blank">BetaPlayer</a>.</p>

	<p>I have over 7 years of design and front end development experience, completing work for companies such as Avon Products, Clear Channel Radio, Panasonic, and Recyclebank.</p>

	<h3>Development</h3>
	<p>HTML(5), CSS(3), Sass, Javascript/JQuery, Python/Flask, MongoDB, PHP, MySQL</p> 

	<h3>Platforms</h3>
	<p>Wordpress, Magento, Kentico</p>

	<h3>Design</h3>
	<p>Adobe Photoshop, InDesign, Illustrator</p>

</div>

<div class="clear"></div>
</div>
{% endblock %}