<!DOCTYPE html>
<html>
  <head>
    <title>Alvin Grant | {{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/grant_utils.js') }}"></script>
  </head>
  <body>

  <header>
    <section>
      <div class="logo">
        <a href="{{ url_for('home') }}"><img src="{{ url_for('static',filename='img/logo.png') }}" /></a>
      </div>
      <div class="branding"><a href="{{ url_for('home') }}"></a></div>
      <div class="title"><h3>Software Engineer</h3></div>
      <div class="social">
        <ul>
          <li><a class="facebook" href="https://www.facebook.com/alvin.grant.3" target="_blank"></a></li>
          <li><a class="twitter" href="https://twitter.com/agrantdesigns" target="_blank">Twitter</a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/in/alvingrant/" target="_blank">Linkedin</a></li>
        </ul>
      </div>
    </section>
      <nav>
        <ul>
            <li><a href="{{ url_for('work') }}">Work</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('blog') }}">Thought Vault</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
          </ul>
      </nav>
    </header>
        {% block content %}
        {% endblock %}
    <footer>
      <div class="social">
        <ul>
          <li><a class="facebook" href="https://www.facebook.com/alvin.grant.3" target="_blank"></a></li>
          <li><a class="twitter" href="https://twitter.com/agrantdesigns" target="_blank">Twitter</a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/in/alvingrant/" target="_blank">Linkedin</a></li>
        </ul>
      </div>
       <p class="copyright">&copy Alvin Grant 2013. All Rights Reserved.</p>
    </footer>
  </body>
</html>