{% extends "base.html" %}
{% block content %}


	<div id="contact">
		<div class="subheader">
			<h2>GET IN TOUCH!</h2>
			<p>Currently available for freelance projects</p>
		</div>
		{% if success %}
    		<p>Thank you for your message. I will be in touch with you shortly.</p>
 		{% else %}
		<!-- <p class="contact">Please fill out this form to contact me. I will respond to your inquiry within 24hrs. Thank you!</p> -->

		{% for message in form.name.errors %}
		 	<div class="flash">{{ message }}</div>
		{% endfor %}
		 
		{% for message in form.email.errors %}
		 	<div class="flash">{{ message }}</div>
		{% endfor %}
		 
		{% for message in form.subject.errors %}
		 	<div class="flash">{{ message }}</div>
		{% endfor %}
		 
		{% for message in form.message.errors %}
		 	<div class="flash">{{ message }}</div>
		{% endfor %}

		<form action="{{ url_for('contact') }}" method=post>
		    {{ form.hidden_tag() }}
		 
		    {{ form.name.label }}
		    {{ form.name }}
		 
		    {{ form.email.label }}
		    {{ form.email }}
		 
		    {{ form.subject.label }}
		    {{ form.subject }}
		 
		    {{ form.message.label }}
		    {{ form.message }}
		 
		    {{ form.submit }}
		</form>
	</div>

	<div class="clear"></div>
{% endif %}

{% endblock %}