{% extends "base.html" %}
{% block content %}

<div class="contact_info">
	<h2>Availability:</h2>
	<p>I'm currently available for freelance, remote opportunities, based in development and design.</p>
	<div class="social">
        <h2>Connect with me:</h2>
        <a class="facebook" href="https://www.facebook.com/alvin.grant.3" target="_blank"></a>
        <a class="twitter" href="https://twitter.com/agrantdesigns" target="_blank"></a>
        <a class="linkedin" href="https://www.linkedin.com/in/alvingrant/" target="_blank"></a>
    </div>
</div>
<div class="clear"></div>
</div>

	<div id="contact">
		<div class="subheader">
			<h2>GET IN TOUCH!</h2>
			<p>Currently available for freelance projects</p>
		</div>
		{% if success %}
    		<p>Thank you for your message. I will be in touch with you shortly.</p>
 		{% else %}
		<!-- <p class="contact">Please fill out this form to contact me. I will respond to your inquiry within 24hrs. Thank you!</p> -->

		{% for message in form.name.errors %}
		 	<div class="flash">{{ message }}</div>
		{% endfor %}
		 
		{% for message in form.email.errors %}
		 	<div class="flash">{{ message }}</div>
		{% endfor %}
		 
		{% for message in form.subject.errors %}
		 	<div class="flash">{{ message }}</div>
		{% endfor %}
		 
		{% for message in form.message.errors %}
		 	<div class="flash">{{ message }}</div>
		{% endfor %}

		<form action="{{ url_for('contact') }}" method=post>
		    {{ form.hidden_tag() }}
		 
		    {{ form.name.label }}
		    {{ form.name }}
		 
		    {{ form.email.label }}
		    {{ form.email }}
		 
		    {{ form.subject.label }}
		    {{ form.subject }}
		 
		    {{ form.message.label }}
		    {{ form.message }}
		 
		    {{ form.submit }}
		</form>
	</div>

	<div class="clear"></div>
{% endif %}

{% endblock %}