{% extends "base.html" %}
{% block content %}
<section class="work">
	<li><a id="fan" class="thumbnails" class="current" href="#content_01"></a>
		<div class="clear"></div>
		<p>Fansportslive</p>
		<p>HTML / CSS / Javascript / Python</p>
	</li>
	<li><a class="thumbnails" href="#content_01"></a>
		<div class="clear"></div>
		<p>radio.com</p>
		<p>HTML / CSS / Javascript / PHP / Wordpress</p>
	</li>
	<li><a class="thumbnails" href="#content_01"></a>
		<div class="clear"></div>
		<p>Inkloud</p>
		<p>HTML / CSS / Javascript / PHP / Wordpress</p>
	</li>
	<li><a class="thumbnails" href="#content_01"></a>
		<div class="clear"></div>
		<p>Recyclebank</p>
		<p>HTML / CSS / Javascript / Magento</p>
	</li>
	<li><a class="thumbnails" href="#content_01"></a>
		<div class="clear"></div>
		<p>Cancer<i>Care</i></p>
		<p>Web Design / HTML / CSS / Wordpress</p>
	</li>
	<li><a class="thumbnails" href="#content_01"></a>
		<div class="clear"></div>
		<p>Panasonic</p>
		<p>HTML / CSS</p>
	</li>
	<section class="lightbox">
		<aside class="content"><p>Click to close</p><h3>Fansportslive</h3></aside>
	</section>
	<div class="clear"></div>
</section>

{% endblock %}