{% extends "base.html" %}
{% block content %}
<div class="container">
	<div id="main_wrapper">
		<div id="content_01" class="tabbed_content">
			<div class="text">1</div>
			<div class="pictures"></div>
		</div>
		<div id="content_02" class="tabbed_content">
			<div class="text">2</div>
			<div class="pictures"></div>
		</div>
		<div id="content_03" class="tabbed_content">
			<div class="text">3</div>
			<div class="pictures"></div>
		</div>
		<div id="content_04" class="tabbed_content">
			<div class="text">4</div>
			<div class="pictures"></div>
		</div>
		<div id="content_05" class="tabbed_content">
			<div class="text">4</div>
			<div class="pictures"></div>
		</div>
	</div>
	<li><a class="thumbnails" class="current" href="#content_01"></a></li>
	<li><a class="thumbnails" href="#content_02"></a></li>
	<li><a class="thumbnails" href="#content_03"></a></li>
	<li><a class="thumbnails" href="#content_04"></a></li>
	<li><a class="thumbnails" href="#content_05"></a></li>
	<div class="clear"></div>
</div>


{% endblock %}